
.hidden {
    display: none;
}

body {
    background-repeat: no-repeat;
}

.message {
    color: whitesmoke;
    font-weight: 400;
    letter-spacing: -1px;
}

#todos li {
    color: whitesmoke;
    font-size: x-large;
}

#weather {
    color: whitesmoke;
    font-size: x-large;
}


#clock {
    color: whitesmoke;
    font-size: 1050%;
    cursor: default;
    letter-spacing: -5px;
}
